<section style="margin:100px auto;padding:20px;max-width:400px;background-color:#fefefe;text-align:center;">

  <p>Your Farm is not Active yet!</p>

  <p>Please set your Farm details first. <a href="options/#farm_details">Activate Farm</a></p>

</section>
