<div id="search-wrapper" class="visible">

  {% include './search/search__filters.twig' ignore missing %}

  <div id="loader_search"></div>

  <div class="product__wrapper">

    <div class="product__container">

          {% include './search/search__product.twig' ignore missing %}

    </div>

  </div>

</div>
