{% macro box_content() %}

<div class="about__title">
  <h1>What is Agrishop?</h1>
</div>

<div class="about__explanation">
  Agrishop is an online store that allows people to buy always the freshest product available. The products are all produced locally, in South Tyrol. Everyone can register for free and buy fresh and healthy typical products of the region. Farmer upload their products and customers can choose if to receive them at home or to go to the farm, where the products will be sold directly from the farmer to the customer.
</div>

<div class="about__title">
  <h1>Why choose Agrishop?</h1>
</div>

<div class="about__explanation">
  Freshness and healthyness are the key words that drag the Agrishop team until here. We believe in fresh products and also in local agriculture (South Tyrol). Every customer has the possibility to meet the farmer and to know the place where he/she is going to buy. Agrishop wishes and gives only the best to the customers.
</div>
{#
<div class="about__title">
  <h1>Analytics</h1>
</div>

<div class="about__analytics" id="analytics">

  <div class="about__analytics__box">
    Total Number of Products:
    <span class="analytics__box__content" value=""></span>
  </div>

  <div class="about__analytics__box">
    Total Number of Categories:
    <span class="analytics__box__content" value=""></span>
  </div>

  <div class="about__analytics__box">
    Total Number of Areas:
    <span class="analytics__box__content" value=""></span>
  </div>

  <div class="about__analytics__box">
    Users:
    <span class="analytics__box__content" value=""></span>
  </div>

  <div class="about__analytics__box">
    Farms:
    <span class="analytics__box__content" value=""></span>
  </div>

  <div class="about__analytics__box">
    Customers:
    <span class="analytics__box__content" value=""></span>
  </div>

  <div class="about__analytics__box">
    Average price (kg/l):
    <span class="analytics__box__content" value="">€</span>
  </div>
    <!-- Add something cool for showing average price for each category of products -->
    <!-- Add something cool for showing how many products for each category of products -->

  <div class="about__analytics__box">
    Sold products:
    <span class="analytics__box__content" value=""></span>
  </div>
    <!-- Add something cool for showing rating -->
    <!-- Add something cool for showing top 10 viewed products -->

  <div class="about__analytics__box">
    Most recent product:
    <span class="analytics__box__content" value=""></span>
  </div>

  <div class="about__analytics__box">
    Number of views:
    <span class="analytics__box__content" value=""></span>
  </div>

</div>
#}
{% endmacro %}