{# General footer #}

<footer class="footer">

	<p>From Bozen With Love || Sabi & Mond</p>

</footer>

<script src="app/assets/vendor/oldwheel.js"></script>
<script src="app/assets/js/main.js"></script>

{#
{% for src in footer_scripts %}
	<script src="{{ src }}"></script>
{% endfor %}
#}
